table {
    margin-bottom: 2rem;
}
tr {
    border: .15rem solid #2d3a3aff;
    border-radius: .25rem;
    background-color: #4d9078ff;
    color: #e4dfdaff;
    box-shadow: 1rem 1rem .25rem rgba(77, 144, 121, 0.549);
}
.projecttitle {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .25rem;
    background-color: #7f7effff;
    color: #e4dfdaff;
    padding: 10px;
}
.project {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}
.projectbox {
    border: 2px solid #272727ff;
    margin: auto;
    padding: 10px;
    text-align: center;
    background: #e4dfdaff;
}
.projectbox a {
    text-decoration: none;
}
.projectbox img {
    border: 2px solid #272727ff;
    margin-bottom: 5px;
}
.projectbox svg {
    transform: scale(.5, .5);
    margin: -110px;
    cursor: pointer;
}
.fglogo {
    transition: all .5s;
}
svg:hover .fglogo {
    fill: rgb(9, 190, 190);
    transform: scale(1.3);
}
.photocaption {
    background-color: #7f7effff;
    margin: 0;
    font-size: 10px;
}
.projectbox a.btn {
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: .25rem;
    background-color: #7f7effff;
    color: #e4dfdaff;
}
.projectbox a:link {
    color: #272727ff;
}
.projectbox a:hover {
    color: rgba(45, 58, 58, 0.778);
}
.projectbox a:visited {
    color: #e4dfdaff;
}