* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    white,
    rgb(0, 0, 0)
  );
}

/*Nav Start*/
nav ul {
  background-image: radial-gradient(white, rgb(39, 39, 39));
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: rgb(9, 190, 190);
}
nav ul li a:focus {
  color: rgb(68, 67, 67);
}
/*Nav End*/

h1 {
  text-align: center;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 300px;
  fill: rgb(15, 15, 15);
}
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Form */
#wrapper {
  text-align: center;
}
form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
div {
  margin-bottom: 1em;
}
input,
select,
textarea {
  margin-left: 1em;
  margin-right: 0.5em;
}
textarea {
  height: 5em;
  width: 20em;
}
span {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: red;
}
#submit, #clear {
  font-family: fantasy;
}
#submit:hover, #clear:hover {
  color: rgb(9, 190, 190);
}
#submit:focus, #clear:focus {
  color: rgb(68, 67, 67);
}
/* Tabs Styling */
#tabs {
	min-height: 15em;
	margin: 0;
  background-color: black;
}
#tabs-1, #tabs-2 {
	margin-bottom: 0;
}
#tabs .ui-tabs {
  text-align: center;
}
#tabs .ui-tabs-tab {
  background-color: black;
}
#tabs .ui-tabs-anchor {
  background-color: rgb(9, 190, 190);
  color: black;
}
#tabs .ui-tabs-anchor:hover {
  color: rgb(68, 67, 67);
}
#tabs .ui-tabs-panel {
  color: white;
}
.currentDate {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(157, 157, 157);
}
/* End Tabs Styling */
/* End Contact Form */

/* Footer Start */
footer {
  display: block;
  text-align: center;
}
hr {
  margin-top: 1em;
}
/* Footer End */
